<!-- <videojuegos *ngIf="valueOf"></videojuegos>
<zapatillas></zapatillas> -->

<!-- <button *ngIf="!valueOf" (click)="showComponent(true)">show components</button>
<button *ngIf="valueOf" (click)="showComponent(false)">hide components </button> -->

<div [ngStyle]="style">
    <h1> {{ title }} </h1>
    <p> {{ desc }} </p>

    <nav class="nav">
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">zapatillas</a>
        <a [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">videojuego</a>
        <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">cursos</a>
        <a [routerLink]="['/externo']" [routerLinkActive]="['active']">externo</a>
    </nav>
    <router-outlet></router-outlet>
</div>


